/*########################################################################
==========================================================================
                            		HEADER
==========================================================================
##########################################################################*/

header{
    text-align: center;
	padding:0;
	background-color: rgba(244, 081, 030, 0.7) ;
	font-variant: small-caps;
}

header a{
	text-decoration:none;
	color:black;
}

#titre{
	padding: 0;
	margin: 0;
	text-transform:uppercase;
	font-size:30px;
	font-weight:bold;
	margin: 0;
	padding: 20px;
	background-color: #fbc988;
	
}

#divAdmin{
	position: absolute;
	margin-top: 10px;
	margin-right: 10px;
	right: 5px;
}
/*===========================================================
                        	  	MENU
=============================================================*/

#menu{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 0;    
}

#menu a { 
	display:inline-block;
}

#menu li ul{
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}

#menu > li{
	position: relative;
	display:inline-block;
	padding: 5px 15px;
}

#menu ul {
	position: absolute;
	top: 2em;
	max-height:0em; 
	margin:16px 0 0 16px;
	background-color: white;
	overflow: hidden;
	transition: max-height 0.5s;
	list-style-type: none;
}

#menu > li:hover ul{
	max-height: 13em;
}

.elmtMenu{
	margin: 2% 50px 2% 50px;
    font-size:20px;
}

.souligne{
	display: inline-block;
	position: relative;
}

.souligne::before{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform-origin: bottom left;
	transition: transform 0.25s ease-out;
}

.souligne:hover::before{
	transform: scaleX(1);
}

#pageActuelle{
	color:white;
}

/*########################################################################
==========================================================================
                             	BODY
==========================================================================
########################################################################*/

body{
	font-family: Arial;
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url("../html/images/imageDeFond.jpg");
}

*{
	box-sizing: border-box;
}
/*===========================================================
                        Accueil
===========================================================*/

#articleIntro{
	background-color: rgba(247, 223, 211, 0.5);;
	margin: 0;
	padding-bottom: 50px;
}

/*DEFILEMENT D'IMAGE SUR LA PAGE D'ACCUEIL*/
.imageIntroSlide, ol{
	height: 300px;
}
.imageIntroSlide{
	position: relative;
	width: 600px;
	margin: auto;
	overflow: hidden;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.imageIntroSlide li{
	display: inline-block;
	height: 300px;
	float: left;
	position: relative;
	width: 600px;
}

.imageIntroSlide ol{
	position: absolute;
	left: 0;
	top: -15px;
	width: 9000px;
	list-style: none;
	margin-left: -50px;
	transition: left .3s linear;
	-moz-transition: left .3s linear;
	-o-transition: left .3s linear;
	-webkit-transition: left .3s linear;
}

.imageIntroSlide-image{
	margin: 0 auto;
	padding: 0;
	width: 600px;
}

.imageIntroSlide-image img{
	width: 100%;
	height: 100%;
	padding-right:15px;
	margin-left: 20px;
}

.imageIntroSlide ol{
	animation: slide-animation 15s infinite;
}
.imageIntroSlide ol:hover{
	animation-play-state: paused;
}

@keyframes slide-animation{
	20%{left : 0}
	25%{left : -600px}
	45%{left : -600px}
	50%{left : -1200px}
	70%{left : -1200px}
	75%{left : -1800px}
	98%{left : -1800px}
	100%{left : 0}
}
/*FIN DEFILEMENT D'IMAGE SUR LA PAGE D'ACCUEIL*/

#messageIntro{
	border: black 5px solid;
	border-radius: 40px;
	padding: 25px;
	width: 1200px;
	font-size: 18px;
	margin-top: 50px;
	background-color: rgba(246, 121, 094, 0.2);
}

/*===========================================================
                    		FLEX BOX
===========================================================*/
.divFlexCol{
	display:flex;
	flex-direction: column;
}

.divFlexRow{
	display: flex;
	flex-direction: row;
}

.divRowElt{
	margin-right: 5px;
}

.divColElt{
	margin-bottom: 5px;
}
/*===========================================================
                        	Redaction
===========================================================*/
#divRedaction{
	width: 1000px;
	margin: 100px auto auto auto;
	background-color: wheat;
	border: #2673cb solid 1px;
}

#titreRedac{
	font-weight: bold;
	text-align: center;
	font-size: 32px;
	width: 200px;
	border: black solid 2px;
	border-radius: 50px;
}

#divRedaction select{
	width: 200px;
	margin-left: 15%;
	margin-bottom: 5px;
}
#divRedaction button{
	margin-left: 840px;
}

.nbrCaractereTitre{
	margin-left: 42%;
	margin-top: 0;
	margin-bottom: 0;
}
/*===========================================================
                        Section & Article
===========================================================*/

.articleNews h1{
	background-color: rgba(255, 245, 155, 0.5) ;
	color: black;
	margin: 0;
	font-size: 28px;
	border: 2px 2px 0 2px black solid;
	padding-left: 10px;
}

.articleNews h2{
	background-color: rgba(255, 245, 155, 0.5) ;
	margin: 0;
	text-align: right;
	font-size: 16px;
	border-bottom: 2px solid black;
	padding-right: 10px;
}

.articleNews{
	background-color: rgba(247, 223, 211, 1);
	width: 1000px;
	border: 1px black solid;
	margin: 2% 5% 2% 5%;
	text-align: justify;
}

.articleNews p{
	padding: 5px 15px 5px 15px;
	word-break: break-all;
}

.footerArticle{
	border-top: #2e373f solid 2px;
	margin: 5px 0;
	padding: 0;
	text-align: right;
}

#titreVosArticlesRedac{
	padding-left: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: wheat;
	border: #2e373f solid 1px;
}

#idNewsFooter{
	padding: 5px 15px 0;
	text-align: left;
	height: 24px;
}

/*===========================================================
                        	Recherche
===========================================================*/
.recherche{
	background-color: rgba(255, 245, 155, 1);
	width: 1000px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border: #2e373f solid 2px;
	padding: 20px;
}

.recherche select{
	width: 200px;
}

/*===========================================================
                        	Calendrier
===========================================================*/

/* conteneur calendrier */
.calendarWrap{
    display: none;
    position: absolute;
    z-index: 1000;
    width: 230px;
    padding: 5px 10px 10px 10px;
    background-color: #2e373f;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #555;
    -webkit-box-shadow: 0 0 10px #555;
    box-shadow: 0 0 10px #555;
    font-size: 12px;
}
/* bouton d'affichage*/
#calendarMain1 > input, #calendarMain2 > input{
    display: block;
    width: 100px;
    height: 22px;
    padding-top: 2px;
    background-color: #2e373f;
    color: #fff;
    border-radius: 5px;
    border: none;
}
#calendarMain1 > input:hover, #calendarMain2 > input:hover{
    background-color: #2673cb;
}
/* navigation dans le calendrier */
.calendarWrap ul{
    margin: 5px 0 10px 0;
    padding: 0;
}
.calendarWrap li{
    margin: 0;
    padding: 0;
    width: 20px;
    display: inline-block;
    *display: inline;
}
.calendarWrap li.calendarTitle{
    width: 170px;
    color: #ccc;
    text-align: center;
}
.calendarWrap li input{
    width: 20px;
    background-color: #5d6f7f;
    border: none;
    color: #fff;
}
.calendarWrap li input:hover{
    background-color: #6f8598;
}
/* calendrier */
.jsCalendar{
    color: #fff;
    border-collapse: collapse;
}
.jsCalendar th{
    color: #8ba7bf;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
.jsCalendar td{
    padding: 0;
    border: none;
}
.jsCalendar a{
    display: block;
    width: 30px;
    padding: 3px 0 3px 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.jsCalendar .day:hover a{
    background-color: #2673cb;
    border-color: #2673cb;
}
.jsCalendar .selectedDay a{
    background-color: #c44d38;
    border-color: #c44d38;
}

/*===========================================================
                        Contact
===========================================================*/
.contactStyle{
	background-color: wheat;
	border: #2e373f solid 1px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
}

.contactStyle legend{
	border: black solid 1px;
	border-radius: 50px;
	padding: 5px;
}

.contactStyle fieldset{
	margin: 20px;
	padding: 20px;
	width: 500px;
	margin:auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.contactStyle button{
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
/*===========================================================
                        Authentification
===========================================================*/

.paddingTopAuth{
	padding-top: 100px;
}

#divNomPrenom{
	justify-content: center;
}

#divAuth{
	width: 270px;
	margin: 100px auto auto auto;
}

#divAuth input[type=text]{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 30px;
}

#divAuth input[type=password]{
	margin: 5px;
	height: 30px;
}

#btnCompte{
	text-decoration: none;
	color: #f4511e;
}
/*===========================================================
                        Deconnexion
===========================================================*/

#divDeco{
	width: 250px;
	margin: 100px auto auto auto;
	padding-bottom: 15px;
}

/*===========================================================
                        	Admin
===========================================================*/

#divPanoAdmin input[type=text]{
	margin-top: 15px;
	margin-bottom: 5px;
}

#divPanoAdmin{
	margin: 0;
}

#modifNews{
	font-weight: bold;
	text-align: center;
	font-size: 32px;
	width: 250px;
	border: black solid 2px;
	border-radius: 50px;
}
/*########################################################################
==========================================================================
                            	GENERAL
==========================================================================
########################################################################*/

.policeRouge{
    color: red;
}

.bgLightPurple{
	background-color:#e4cbff;
}

.bgWhite{
    background-color: white;
}

.centre{
	text-align: center;
}

.blackBorder{
	border: black solid 1px;
}

.noMargin{
	margin: 0;
}

.bouton{
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 11px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.bouton span{
	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}

.bouton span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.bouton:hover span {
	padding-right: 25px;
}

.bouton:hover span:after {
	opacity: 1;
	right: 0;
}

.marginCotesAuto{
	margin-left: auto;
	margin-right: auto;
}


/*########################################################################
==========================================================================
                             	Footer
==========================================================================
########################################################################*/

footer{
	background-color: #2e373f;
	margin: 0;
	padding: 50px;
}

footer a{
	text-decoration: none;
	color: white;
	margin: 20px;
}

footer p{
	color: white;
	text-align: center;
}