/*########################################################################
==========================================================================
                            		HEADER
==========================================================================
##########################################################################*/

header{
    text-align: center;
	padding:0;
	background-color:rgb(190, 200, 255) ;
	font-variant: small-caps;
}

header a{
	text-decoration:none;
	color:black;
}

#titre{
	padding: 0;
	margin: 0;
	text-transform:uppercase;
	font-size:30px;
	font-weight:bold;
	margin: 0;
	padding: 20px;
	background-color: #b5ebfb;
}
/*===========================================================
                        	  	MENU
=============================================================*/

#menu{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 0;    
}

#menu a { 
	display:inline-block;
}

#menu li ul{
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}

#menu > li{
	position: relative;
	display:inline-block;
	padding: 5px 15px;
}

#menu ul {
	position: absolute;
	top: 2em;
	max-height:0em; 
	margin:16px 0 0 16px;
	background-color: white;
	overflow: hidden;
	transition: max-height 0.5s;
	list-style-type: none;
}

#menu > li:hover ul{
	max-height: 13em;
}

.elmtMenu{
	margin: 2% 50px 2% 50px;
    font-size:20px;
}

.souligne{
	display: inline-block;
	position: relative;
}

.souligne::before{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform-origin: bottom left;
	transition: transform 0.25s ease-out;
}

.souligne:hover::before{
	transform: scaleX(1);
}

#pageActuelle{
	color:white;
}

/*########################################################################
==========================================================================
                             	BODY
==========================================================================
########################################################################*/

body{
	font-family: Arial;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #b5ebfb;
}

*{
	box-sizing: border-box;
}

/*===========================================================
                    		FLEX BOX
===========================================================*/
.divFlexCol{
	display:flex;
	flex-direction: column;
}

.divFlexRow{
	display: flex;
	flex-direction: row;
}

.divRowElt{
	margin-right: 5px;
}

.divColElt{
	margin-bottom: 5px;
}
/*===========================================================
                        Section & Article
===========================================================*/
#sectionArticle{
	background-color: #CCE4F7;
	margin: 0;
}

.articleNews h1{
	background-color: rgba(255, 245, 155, 0.5) ;
	color: black;
	margin: 0;
	font-size: 28px;
	border: 2px 2px 0 2px black solid;
}

.articleNews h2{
	background-color: rgba(255, 245, 155, 0.5) ;
	margin: 0;
	text-align: right;
	font-size: 16px;
	border-bottom: 2px solid black;
}

.articleNews{
	background-color: rgba(247, 223, 211, 1);
	max-width: 40%;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	border: 2px black solid;
	padding-bottom: 15px;
	display: block;
	float: left;
	margin: 2% 5% 2% 5%;
}

.articleNews a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	margin: 0 0 0 85%;
}

#articleIntro{
	background-color: rgba(247, 223, 211, 0.8);;
	margin: 0;
}

#articleIntro p{
	margin: 0;
}

.imgintro{
	size:500px;
}

/*===========================================================
                        Authentification
===========================================================*/

.paddingTopAuth{
	padding-top: 100px;
}

#divNomPrenom{
	justify-content: center;
}

#divAuth{
	width: 270px;
	margin: 100px auto auto auto;
}

/*===========================================================
                        Deconnexion
===========================================================*/

#divDeco{
	width: 250px;
	margin: 100px auto auto auto;
	padding-bottom: 15px;
}

/*########################################################################
==========================================================================
                            	GENERAL
==========================================================================
########################################################################*/

.policeRouge{
    color: red;
}

.bgLightPurple{
	background-color:#e4cbff;
}

.bgWhite{
    background-color: white;
}

.centre{
	text-align: center;
}

.blackBorder{
	border: black solid 1px;
}

.noMargin{
	margin: 0;
}